# set microslice size to 10 µs
mc-size = 1250

# Settings for link 0
l0_source = pgen
l0_sys_id = 0xFF
l0_sys_ver = 0x01

# Settings for link 1
l1_source = pgen
l1_sys_id = 0xFF
l1_sys_ver = 0x01

# Settings for link 2
l2_source = pgen
l2_sys_id = 0xFF
l2_sys_ver = 0x01

# Settings for link 3
l3_source = pgen
l3_sys_id = 0xFF
l3_sys_ver = 0x01
