[Unit]
Description=CRI readout status monitoring
After=remote-fs.target
ConditionHost=en*

[Service]
ExecStart=/usr/bin/cri_status -m
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
