---
Checks:          '-*,bugprone-*,boost-*,cppcoreguidelines-*,modernize-*,-cppcoreguidelines-non-private-member-variables-in-classes,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-macro-usage,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-init-variables,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-modernize-avoid-c-arrays,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-pro-type-const-cast,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-avoid-non-const-global-variables,-bugprone-reserved-identifier,-cppcoreguidelines-narrowing-conversions,-bugprone-narrowing-conversions,-bugprone-copy-constructor-init,-modernize-use-transparent-functors'
HeaderFilterRegex: '(lib/(fles_[^/]+|logging|pda|shm_ipc)/.*\.hpp)|(app/[^/]+/[^/]+.hpp)'
FormatStyle:     file
