addons:
  apt:
    sources:
    - boost-latest
    - kalakris-cmake
    packages:
    - cmake
    - doxygen
    - libboost-filesystem1.55-dev
    - libboost-log1.55-dev
    - libboost-program-options1.55-dev
    - libboost-serialization1.55-dev
    - libboost-system1.55-dev
    - libboost-test1.55-dev
    - libboost-thread1.55-dev
    - libboost1.55-dev
    - libpci-dev
    - libzmq3-dev

before_install:
  - wget https://raw.githubusercontent.com/zeromq/cppzmq/master/zmq.hpp -O zmq.hpp
  - bash -c "echo 'include_directories(.)' >> CMakeLists.txt"
  - git clone https://github.com/cbm-fles/pda.git
  - cd pda
  - ./configure
  - make
  - cd ..
  - bash -c "echo 'include_directories(../pda/build_linux_x86_uio/include)' > cmake/FindPDA.cmake"
  - bash -c "echo 'find_library(PDA pda PATHS ../pda/build_linux_x86_uio)' >> cmake/FindPDA.cmake"
  - bash -c "echo 'set(EXTRA_LIBS ${EXTRA_LIBS} ${PDA})' >> cmake/FindPDA.cmake"

before_script:
  - mkdir build
  - cd build
  - cmake ..
  
compiler: clang

language: cpp

script:
  - make
  - make test

sudo: false
