name: CMake

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        include:
        - cc: gcc
          cxx: g++
        - cc: gcc-13
          cxx: g++-13
        - cc: clang
          cxx: clang++
        - cc: clang-15
          cxx: clang++-15
      fail-fast: false

    env:
      CC: ${{matrix.cc}}
      CXX: ${{matrix.cxx}}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -yq catch doxygen clang-tidy-15 libboost-all-dev libfabric-dev libibverbs-dev libkmod-dev libnuma-dev libpci-dev librdmacm-dev libtool-bin

    - name: Install additional dependencies
      run: contrib/merge-dependencies

    - name: Create build environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DINCLUDE_ZMQ=TRUE -DUSE_CLANG_TIDY=TRUE -DCMAKE_BUILD_TYPE=$BUILD_TYPE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: make -j 32

    - name: Test
      working-directory: ${{runner.workspace}}/build
      run: make CTEST_OUTPUT_ON_FAILURE=1 test

#    - name: Create .deb package
#      working-directory: ${{runner.workspace}}/build
#      run: cpack

#    - name: Archive .deb package
#      uses: actions/upload-artifact@v3
#      with:
#        name: flesnet
#        path: ${{runner.workspace}}/build/*.deb
  
