name: CMake

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        include:
        - cc: gcc-12
          cxx: g++-12
          os: ubuntu-22.04
        - cc: gcc-13
          cxx: g++-13
          os: ubuntu-24.04
        - cc: gcc-14
          cxx: g++-14
          os: ubuntu-24.04
        - cc: clang-18
          cxx: clang++-18
          os: ubuntu-24.04
      fail-fast: false

    runs-on: ${{matrix.os}}

    env:
      CC: ${{matrix.cc}}
      CXX: ${{matrix.cxx}}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -yq libboost-dev libboost-iostreams-dev libboost-log-dev libboost-program-options-dev libboost-serialization-dev libboost-system-dev libboost-test-dev libboost-thread-dev libfabric-dev libibverbs-dev libnuma-dev librdmacm-dev libgnutls28-dev libfmt-dev ninja-build
        sudo apt-get install -yq libkmod-dev libpci-dev libtool-bin libucx-dev

    - name: Install additional dependencies
      run: |
        wget https://github.com/cbm-fles/pda/releases/download/11.9.7/libpda4_11.9.7-1_amd64.deb
        sudo dpkg -i libpda4_*_amd64.deb

    - name: Create build environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      run: cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja $GITHUB_WORKSPACE

    - name: Build
      working-directory: ${{github.workspace}}/build
      run: ninja

    - name: Test
      working-directory: ${{github.workspace}}/build
      run: CTEST_OUTPUT_ON_FAILURE=1 ninja test

    - name: Create .deb package
      working-directory: ${{github.workspace}}/build
      run: cpack

    - name: Archive .deb package
      uses: actions/upload-artifact@v4
      with:
        name: flesnet-${{matrix.os}}-${{matrix.cc}}
        path: ${{github.workspace}}/build/*.deb
