name: CMake

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        include:
        - cc: gcc-11
          cxx: g++-11
        - cc: gcc-12
          cxx: g++-12
        - cc: clang-14
          cxx: clang++-14
        - cc: clang-15
          cxx: clang++-15
      fail-fast: false

    env:
      CC: ${{matrix.cc}}
      CXX: ${{matrix.cxx}}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -yq catch doxygen libboost-all-dev libfabric-dev libibverbs-dev libkmod-dev libnuma-dev libpci-dev librdmacm-dev libtool-bin ninja

    - name: Install additional dependencies
      run: contrib/merge-dependencies

    - name: Create build environment
      run: cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure CMake
      working-directory: ${{runner.workspace}}/build
      run: cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G Ninja $GITHUB_WORKSPACE

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: ninja

    - name: Test
      working-directory: ${{runner.workspace}}/build
      run: CTEST_OUTPUT_ON_FAILURE=1 ninja test

#    - name: Create .deb package
#      working-directory: ${{runner.workspace}}/build
#      run: cpack

#    - name: Archive .deb package
#      uses: actions/upload-artifact@v3
#      with:
#        name: flesnet
#        path: ${{runner.workspace}}/build/*.deb
  
